$primary: #FF1F1F;
$text: #fff;
$secondaryText: #fffc;

$fontBig: 52px;
$fontMedium: 26px;
$fontSmall: 20px;
$fontSmallest: 15px;

$brkpDesktop: 1920px;
$brkpDesktopMin: 1440px;
$brkpTablet: 990px;
$brkpMobile: 768px;
$brkpMobileMin: 375px;