$primary: #FF1F1F;
$text: #fff;
$secondaryText: #fffc;

$fontBig: 52px;
$fontMedium: 26px;
$fontSmall: 20px;
$fontSmallest: 15px;

$brkpTablet: 1440px;
$brkpTabletMin: 990px;
$brkpMobile: 768px;
$brkpMobileMin: 375px;
$brkpMin: 320px;