$primary: #FF1F1F;
$text: #fff;
$secondaryText: #fffc;

$fontBig: 52px;
$fontMedium: 26px;
$fontSmall: 20px;
$fontSmallest: 15px;

$brkpDesctop: 1920px;
$brkpDesctopMin: 1440px;
$brkpTablet: 990px;
$brkpMobile: 768px;
$brkpMobileMin: 375px;