.button {
  padding: 16px 32px;
  background: none;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.button:active {
  border-color: #FC3232;
  background-color: #FC3232;
  transition: 0s;
  filter: brightness(100%);
}
@media (max-width: 1920px) {
  .button {
    font-size: 16px;
    padding: 11px 24px;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 9px 24px;
  }
}

.button--primary {
  background-color: #FC3232;
  border: none;
  font-weight: 600;
  padding: 24px 40px;
  font-size: 26px;
}
.button--primary:active {
  background-color: red;
  filter: brightness(100%);
}
@media (max-width: 1920px) {
  .button--primary {
    font-size: 20px;
    padding: 18px 32px;
  }
}
@media (max-width: 1440px) {
  .button--primary {
    font-size: 18px;
    padding: 16px 28px;
  }
}
@media (max-width: 990px) {
  .button--primary {
    font-size: 17px;
    padding: 16px 24px;
  }
}
@media (max-width: 375px) {
  .button--primary {
    font-size: 15px;
    padding: 14px 14px;
  }
}

.button--secondary {
  border: none;
  color: rgba(255, 255, 255, 0.8);
}
.button--secondary:active {
  background: none;
  color: #FC3232;
  transition: 0s;
}

.active {
  border-color: #FC3232;
  background-color: #FC3232;
}
.active:hover {
  filter: brightness(100%);
}

.withArray::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M10.668 14.6719L16.0013 18.5119L21.3346 14.6719' stroke='red' stroke-width='2.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.nav {
  padding: 0 220px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;
  margin: 30px auto;
}
@media (max-width: 1920px) {
  .nav {
    padding: 0 12vw;
  }
}
@media (max-width: 1440px) {
  .nav {
    padding: 0 48px;
  }
}
@media (max-width: 990px) {
  .nav {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .nav {
    padding: 0 16px;
  }
}
@media (max-width: 1920px) {
  .nav {
    margin: 23px auto;
  }
}
@media (max-width: 990px) {
  .nav {
    justify-content: flex-end;
    margin: 16px auto;
  }
}

@media (max-width: 990px) {
  .nav__regbutton {
    display: none;
  }
}

.nav__logo {
  margin-right: auto;
  width: 96px;
  height: auto;
}
@media (max-width: 1920px) {
  .nav__logo {
    width: 72px;
  }
}
@media (max-width: 990px) {
  .nav__logo {
    width: 64px;
  }
}
@media (max-width: 768px) {
  .nav__logo {
    width: 56px;
  }
}

.nav__a {
  margin-right: 16px;
}
@media (max-width: 990px) {
  .nav__a {
    display: none;
  }
}

.main {
  color: #fff;
  margin-bottom: 90px;
  font-weight: 400;
}
.main .section {
  padding: 0 220px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
@media (max-width: 1920px) {
  .main .section {
    padding: 0 12vw;
  }
}
@media (max-width: 1440px) {
  .main .section {
    padding: 0 48px;
  }
}
@media (max-width: 990px) {
  .main .section {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .main .section {
    padding: 0 16px;
  }
}
.main .section .section__title {
  font-size: 52px;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.9;
}
@media (max-width: 1920px) {
  .main .section .section__title {
    font-size: 40px;
  }
}
@media (max-width: 1440px) {
  .main .section .section__title {
    font-size: 36px;
  }
}
@media (max-width: 990px) {
  .main .section .section__title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .main .section .section__title {
    font-size: 28px;
    margin: 0 auto 15px;
  }
}
@media (max-width: 375px) {
  .main .section .section__title {
    font-size: 24px;
  }
}
.main .section .section__subtitle {
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  opacity: 0.8;
  line-height: 150%;
}
@media (max-width: 1920px) {
  .main .section .section__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .main .section .section__subtitle {
    font-size: 15px;
  }
}
.main .section--cards {
  display: flex;
  justify-content: space-between;
  flex-basis: 2;
  margin-bottom: 140px;
}
@media (max-width: 1440px) {
  .main .section--cards {
    margin-bottom: 104px;
  }
}
@media (max-width: 990px) {
  .main .section--cards {
    margin-bottom: 75px;
  }
}
@media (max-width: 768px) {
  .main .section--cards {
    display: none;
  }
}
.main .section--cards .card {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
@media (max-width: 1440px) {
  .main .section--cards .card {
    max-width: 205px;
  }
}
@media (max-width: 990px) {
  .main .section--cards .card {
    align-items: center;
  }
}
.main .section--cards .card .card__title {
  font-size: 24px;
  margin: 32px 0 16px;
}
@media (max-width: 1920px) {
  .main .section--cards .card .card__title {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  .main .section--cards .card .card__title {
    font-size: 16px;
  }
}
@media (max-width: 990px) {
  .main .section--cards .card .card__title {
    text-align: center;
    margin: 12px 0;
  }
}
.main .section--cards .card .card__text {
  font-size: 20px;
  line-height: 150%;
  opacity: 0.8;
}
@media (max-width: 1920px) {
  .main .section--cards .card .card__text {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  .main .section--cards .card .card__text {
    font-size: 16px;
  }
}
@media (max-width: 990px) {
  .main .section--cards .card .card__text {
    display: none;
  }
}
.main .section--cards .card .card__img {
  max-width: 96px;
  height: auto;
}
@media (max-width: 1920px) {
  .main .section--cards .card .card__img {
    max-width: 72px;
  }
}
@media (max-width: 1440px) {
  .main .section--cards .card .card__img {
    max-width: 64px;
  }
}
@media (max-width: 990px) {
  .main .section--cards .card .card__img {
    max-width: 48px;
  }
}
.main .section--top {
  margin-bottom: 140px;
}
@media (max-width: 1920px) {
  .main .section--top {
    margin-bottom: 122px;
  }
}
@media (max-width: 1440px) {
  .main .section--top {
    margin-bottom: 57px;
  }
}
@media (max-width: 990px) {
  .main .section--top {
    margin-bottom: 42px;
  }
}
@media (max-width: 768px) {
  .main .section--top {
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .main .section--top {
    margin-bottom: 36px;
  }
}
.main .section--top .section__title {
  font-size: 56px;
  margin: 70px 0 50px;
  font-weight: 600;
  line-height: 120%;
  min-width: 530px;
  margin-bottom: 50px;
}
@media (max-width: 1920px) {
  .main .section--top .section__title {
    font-size: 42px;
    margin-bottom: 32px;
  }
}
@media (max-width: 1440px) {
  .main .section--top .section__title {
    font-size: 38px;
  }
}
@media (max-width: 990px) {
  .main .section--top .section__title {
    font-size: 32px;
    min-width: 370px;
    margin: 24px 0;
  }
}
@media (max-width: 768px) {
  .main .section--top .section__title {
    font-size: 28px;
    min-width: 200px;
    margin: 0px 0;
  }
}
@media (max-width: 375px) {
  .main .section--top .section__title {
    font-size: 24px;
  }
}
.main .section--top .section__subtitle {
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 70px;
  font-size: 26px;
}
@media (max-width: 1920px) {
  .main .section--top .section__subtitle {
    font-size: 20px;
    margin-bottom: 56px;
  }
}
@media (max-width: 1440px) {
  .main .section--top .section__subtitle {
    font-size: 18px;
    margin-bottom: 48px;
  }
}
@media (max-width: 990px) {
  .main .section--top .section__subtitle {
    font-size: 17px;
    margin-bottom: 34px;
  }
}
@media (max-width: 768px) {
  .main .section--top .section__subtitle {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
@media (max-width: 375px) {
  .main .section--top .section__subtitle {
    font-size: 15px;
    margin-bottom: 24px;
  }
}
.main .section--column {
  flex-direction: column;
}
.main .section--withImg {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  overflow: hidden;
  padding-right: 0;
}
@media (max-width: 768px) {
  .main .section--withImg {
    grid-template-columns: 1fr;
    padding: 0 220px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media (max-width: 768px) and (max-width: 1920px) {
  .main .section--withImg {
    padding: 0 12vw;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .main .section--withImg {
    padding: 0 48px;
  }
}
@media (max-width: 768px) and (max-width: 990px) {
  .main .section--withImg {
    padding: 0 40px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .main .section--withImg {
    padding: 0 16px;
  }
}
.main .section--withImg .section--withImg__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 400px;
  max-width: 640px;
  grid-column: 1;
  grid-row: 2;
}
@media (max-width: 990px) {
  .main .section--withImg .section--withImg__header {
    min-width: 100px;
  }
}
@media (max-width: 768px) {
  .main .section--withImg .section--withImg__header {
    grid-row-start: 3;
    align-items: center;
  }
}
.main .section--withImg .section--withImg__img {
  width: 100%;
  min-width: 600px;
  margin: -40px 0 auto 0px;
  grid-row-start: span 3;
  grid-column: 2;
  margin-top: auto;
}
@media (max-width: 768px) {
  .main .section--withImg .section--withImg__img {
    min-width: 0;
    grid-row-start: 2;
    grid-column: 1;
    margin: 0;
  }
}
.main .logoList {
  padding: 0 220px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 120px;
}
@media (max-width: 1920px) {
  .main .logoList {
    padding: 0 12vw;
  }
}
@media (max-width: 1440px) {
  .main .logoList {
    padding: 0 48px;
  }
}
@media (max-width: 990px) {
  .main .logoList {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .main .logoList {
    padding: 0 16px;
  }
}
@media (max-width: 1920px) {
  .main .logoList {
    margin-bottom: 120px;
  }
}
@media (max-width: 1440px) {
  .main .logoList {
    margin-bottom: 82px;
  }
}
@media (max-width: 990px) {
  .main .logoList {
    margin-bottom: 37px;
  }
}
@media (max-width: 768px) {
  .main .logoList {
    margin-bottom: 44px;
  }
}
.main .logoList .logoList__logo {
  width: -moz-min-content;
  width: min-content;
}
@media (max-width: 1920px) {
  .main .logoList .logoList__logo {
    height: 30px;
  }
}
@media (max-width: 990px) {
  .main .logoList .logoList__logo {
    height: 22px;
  }
}
@media (max-width: 375px) {
  .main .logoList .logoList__logo {
    height: 20px;
  }
}

.connect {
  display: grid;
  margin: 50px auto 125px;
  border-radius: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  min-width: 1150px;
  padding: 0;
  border-bottom: 2px solid #F82225;
  border-right: 2px solid #F82225;
  border-left: 2px solid #F82225;
  position: relative;
}
@media (max-width: 1920px) {
  .connect {
    min-width: 862px;
    margin: 33px auto 70px;
  }
}
@media (max-width: 1440px) {
  .connect {
    min-width: 800px;
    margin-bottom: 60px;
  }
}
@media (max-width: 990px) {
  .connect {
    width: 688px;
    min-width: 688px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .connect {
    width: 343px;
    min-width: 343px;
    display: flex;
    flex-direction: column;
    padding: 0 23.5px;
    margin-bottom: 35px;
  }
}
@media (max-width: 375px) {
  .connect {
    width: 288px;
    min-width: 288px;
    max-width: none;
    padding: 0 16px;
  }
}
.connect::before, .connect::after {
  content: "";
  display: block;
  position: absolute;
  top: 0%;
  width: 515px;
  border-top: 1px solid #F82225;
  right: 9px;
  border-radius: 10px;
}
@media (max-width: 1920px) {
  .connect::before, .connect::after {
    width: 389px;
  }
}
@media (max-width: 1440px) {
  .connect::before, .connect::after {
    width: 358px;
  }
}
@media (max-width: 990px) {
  .connect::before, .connect::after {
    width: 301px;
  }
}
@media (max-width: 768px) {
  .connect::before, .connect::after {
    width: 129px;
  }
}
@media (max-width: 375px) {
  .connect::before, .connect::after {
    width: 102px;
  }
}
.connect::before {
  left: 9px;
}
.connect .form-wrap {
  padding: 50px 16px 32px 16px;
}
.connect .circle {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 50px;
  border-radius: 100px 100px 0 0;
  border-top: 2px solid #F82225;
  border-left: 2px solid #F82225;
  border-right: 2px solid #F82225;
}
@media (max-width: 1920px) {
  .connect .circle {
    width: 66px;
    height: 33px;
    top: -33px;
  }
}
.connect .connect__eye {
  grid-column-start: span 2;
  margin: -30px auto 20px;
  font-weight: 400;
}
@media (max-width: 1920px) {
  .connect .connect__eye {
    max-width: 54px;
    margin-top: -20px;
  }
}
@media (max-width: 1920px) {
  .connect .connect__eye {
    max-width: 50px;
  }
}
@media (max-width: 990px) {
  .connect .connect__eye {
    max-width: 46px;
  }
}
@media (max-width: 768px) {
  .connect .connect__eye {
    max-width: 44px;
  }
}
@media (max-width: 375px) {
  .connect .connect__eye {
    max-width: 40px;
  }
}
.connect .connect__price {
  display: inline-block;
  align-self: center;
  margin: auto;
  font-size: 20px;
  max-width: 250px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
@media (max-width: 1920px) {
  .connect .connect__price {
    font-size: 16px;
    margin-right: 50px;
  }
}
@media (max-width: 990px) {
  .connect .connect__price {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .connect .connect__price {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .connect .connect__price {
    font-size: 15px;
  }
}
.connect .connect__price .price__title {
  display: inline-block;
  font-size: 90px;
  color: #FC3232;
  font-weight: 600;
}
@media (max-width: 1920px) {
  .connect .connect__price .price__title {
    font-size: 67px;
  }
}
.connect .connect__price .price__subtitle {
  line-height: 140%;
}
.connect .connect__advantages {
  font-size: 26px;
  margin-left: 40px;
}
@media (max-width: 1920px) {
  .connect .connect__advantages {
    font-size: 20px;
  }
}
@media (max-width: 1440px) {
  .connect .connect__advantages {
    font-size: 18px;
    letter-spacing: 0.18px;
  }
}
@media (max-width: 990px) {
  .connect .connect__advantages {
    font-size: 16px;
    letter-spacing: 0.32px;
  }
}
@media (max-width: 768px) {
  .connect .connect__advantages {
    margin: auto;
  }
}
@media (max-width: 375px) {
  .connect .connect__advantages {
    font-size: 15px;
  }
}
.connect .connect__advantages .advantages__ul {
  padding: 0;
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" viewBox="0 0 32 32" fill="none"><path d="M5.33337 15.4118L12.6275 22.7059L26 9.33334" stroke="%23EEC63B"  stroke-width="4" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}
.connect .connect__advantages .advantages__ul::marker {
  transform: translateY(-5px);
}
.connect .connect__advantages .advantages__ul .li {
  margin-bottom: 26px;
  margin-left: 35px;
}
.connect .connect__advantages .advantages__ul .li::marker {
  font-size: 1.6em;
  line-height: 0;
}
.connect .connect__form {
  display: flex;
  grid-row-start: 3;
  grid-column-start: span 2;
  justify-content: center;
  margin: 42px auto;
  width: 100%;
}
@media (max-width: 768px) {
  .connect .connect__form {
    flex-direction: column;
    align-items: stretch;
    margin: auto auto 32px;
  }
}
.connect .form__input {
  padding: 0 20px;
  height: 100%;
  border: 1px solid #D0D0D1;
  align-self: center;
  width: 40%;
  font-size: 24px;
  opacity: 0.9;
  border-radius: 5px 0px 0px 5px;
}
@media (max-width: 1920px) {
  .connect .form__input {
    padding: 0 16px;
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  .connect .form__input {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .connect .form__input {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .connect .form__input {
    padding: 15px 16px;
    margin-bottom: 16px;
    border-radius: 5px;
    width: 100%;
    border-radius: 5px;
  }
}
@media (max-width: 375px) {
  .connect .form__input {
    font-size: 15px;
  }
}
.connect .form__button {
  color: #fff;
  background-color: #FF1F1F;
  border-radius: 0px 5px 5px 0px;
}
@media (max-width: 768px) {
  .connect .form__button {
    border-radius: 5px;
  }
}

.section--differentDevices {
  margin-bottom: 100px;
}
@media (max-width: 1920px) {
  .section--differentDevices {
    margin-bottom: 75px;
  }
}
@media (max-width: 1440px) {
  .section--differentDevices {
    margin-bottom: 59px;
  }
}
@media (max-width: 990px) {
  .section--differentDevices {
    margin-bottom: 32px;
  }
}
@media (max-width: 768px) {
  .section--differentDevices {
    margin-bottom: 45px;
  }
}
.section--differentDevices .differentDevices__header {
  margin-bottom: 60px;
}
@media (max-width: 1920px) {
  .section--differentDevices .differentDevices__header {
    margin-bottom: 48px;
  }
}
@media (max-width: 1440px) {
  .section--differentDevices .differentDevices__header {
    margin-bottom: 40px;
    min-width: 550px;
  }
}
@media (max-width: 990px) {
  .section--differentDevices .differentDevices__header {
    margin-bottom: 32px;
    min-width: 400px;
  }
}
@media (max-width: 768px) {
  .section--differentDevices .differentDevices__header {
    min-width: auto;
    margin-bottom: 18px;
  }
}
.section--differentDevices .differentDevices__header .section__title {
  margin-bottom: 30px;
}
@media (max-width: 1920px) {
  .section--differentDevices .differentDevices__header .section__title {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .section--differentDevices .differentDevices__header .section__title {
    margin-bottom: 18px;
  }
}
.section--differentDevices .differentDevices__button {
  grid-row: 2;
  align-self: start;
  justify-self: start;
}
@media (max-width: 768px) {
  .section--differentDevices .differentDevices__button {
    justify-self: center;
    grid-row: 3;
  }
}

.tvCards {
  display: flex;
  flex-direction: column;
  margin-bottom: 190px;
}
@media (max-width: 1920px) {
  .tvCards {
    margin-bottom: 120px;
  }
}
@media (max-width: 1440px) {
  .tvCards {
    margin-bottom: 90px;
  }
}
@media (max-width: 990px) {
  .tvCards {
    margin-bottom: 70px;
  }
}
@media (max-width: 768px) {
  .tvCards {
    margin-bottom: 52px;
  }
}
@media (max-width: 375px) {
  .tvCards {
    margin-bottom: 34px;
  }
}
.tvCards .tvCards__header {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .tvCards .tvCards__header {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}
.tvCards .tvCards__header .header__title {
  font-size: 52px;
  font-weight: 500;
  line-height: 140%;
  opacity: 0.9;
  font-weight: 500;
  margin-bottom: 20px;
  white-space: nowrap;
  margin-top: 0;
}
@media (max-width: 1920px) {
  .tvCards .tvCards__header .header__title {
    font-size: 40px;
  }
}
@media (max-width: 1440px) {
  .tvCards .tvCards__header .header__title {
    font-size: 36px;
  }
}
@media (max-width: 990px) {
  .tvCards .tvCards__header .header__title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .tvCards .tvCards__header .header__title {
    font-size: 28px;
    margin: 0 auto 15px;
  }
}
@media (max-width: 375px) {
  .tvCards .tvCards__header .header__title {
    font-size: 24px;
  }
}
@media (max-width: 990px) {
  .tvCards .tvCards__header .header__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 768px) {
  .tvCards .tvCards__header .header__title {
    margin-bottom: 13px;
  }
}
@media (max-width: 375px) {
  .tvCards .tvCards__header .header__title {
    margin-bottom: 8px;
  }
}
.tvCards .tvCards__header .header__ico {
  padding: 25px 20px;
}
@media (max-width: 1920px) {
  .tvCards .tvCards__header .header__ico {
    width: 48px;
    min-width: -moz-min-content;
    min-width: min-content;
    height: auto;
  }
}
@media (max-width: 768px) {
  .tvCards .tvCards__header .header__ico {
    width: 40px;
    padding: 20px 15px;
  }
}
.tvCards .tvCards__header .header__subtitle {
  font-size: 20px;
  line-height: 140%;
  color: #fff;
  opacity: 0.8;
}
@media (max-width: 1920px) {
  .tvCards .tvCards__header .header__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .tvCards .tvCards__header .header__subtitle {
    font-size: 15px;
  }
}
.tvCards .tvCards__butonsBlock {
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.tvCards .tvCards__butonsBlock::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1920px) {
  .tvCards .tvCards__butonsBlock {
    margin-bottom: 40px;
  }
}
@media (max-width: 1440px) {
  .tvCards .tvCards__butonsBlock {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .tvCards .tvCards__butonsBlock {
    margin-bottom: 24.5px;
    gap: 16px;
  }
}
.tvCards .tvCards__butonsBlock .butonsBlock__button {
  transition: 0.2s;
  margin-top: 6px;
  padding: 16px 24px;
}
@media (max-width: 1920px) {
  .tvCards .tvCards__butonsBlock .butonsBlock__button {
    padding: 12px 18px;
  }
}
.tvCards .tvCards__butonsBlock .butonsBlock__button:hover {
  transform: translateY(-6px);
}
.tvCards .tvCards__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-auto-rows: 0;
  -moz-column-gap: 50px;
       column-gap: 50px;
  overflow-y: hidden;
}
@media (max-width: 1920px) {
  .tvCards .tvCards__cards {
    -moz-column-gap: 3vw;
         column-gap: 3vw;
  }
}
@media (max-width: 990px) {
  .tvCards .tvCards__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .tvCards .tvCards__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
.tvCards .tvCards__cards .card {
  border-radius: 10px;
  border: 1px solid #C6C6C8;
  padding: 32px;
  margin-bottom: 50px;
}
@media (max-width: 1920px) {
  .tvCards .tvCards__cards .card {
    margin-bottom: 32px;
    padding: 24px;
  }
}
@media (max-width: 1440px) {
  .tvCards .tvCards__cards .card {
    padding: 21px;
  }
}
@media (max-width: 768px) {
  .tvCards .tvCards__cards .card {
    padding: 14px;
    margin-bottom: 16px;
  }
}
@media (max-width: 375px) {
  .tvCards .tvCards__cards .card {
    padding: 11px;
  }
}
.tvCards .tvCards__cards .card .card__img {
  width: auto;
  height: auto;
}
@media (max-width: 1920px) {
  .tvCards .tvCards__cards .card .card__img {
    width: 8vw;
  }
}
@media (max-width: 768px) {
  .tvCards .tvCards__cards .card .card__img {
    width: 13vw;
  }
}
.tvCards .tvCards__cards .red {
  background: var(--gradient-a-red, linear-gradient(180deg, #FF6961 0%, #D70015 100%));
}
.tvCards .tvCards__cards .blue {
  background: var(--gradient-f-dark-blue, linear-gradient(180deg, #409CFF 0%, #0040DD 100%));
}
.tvCards .tvCards__cards .yellow {
  background: var(--gradient-c-yellow, linear-gradient(180deg, #FFD426 0%, #B25000 100%));
}
.tvCards .tvCards__cards .green {
  background: var(--gradient-d-green, linear-gradient(180deg, #30DB5B 0%, #248A3D 100%));
}
.tvCards .tvCards__cards .slateblue {
  background: var(--gradient-g-violet, linear-gradient(180deg, #7D7AFF 0%, #3634A3 100%));
}
.tvCards .show {
  grid-auto-rows: auto;
}
.tvCards .tvCards__button {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0;
}

.questions {
  display: flex;
  flex-direction: column;
}
.questions .question__title {
  margin-bottom: 65px;
}
@media (max-width: 1920px) {
  .questions .question__title {
    margin-bottom: 48px;
  }
}
@media (max-width: 1440px) {
  .questions .question__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 990px) {
  .questions .question__title {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .questions .question__title {
    margin-bottom: 32px;
  }
}
@media (max-width: 375px) {
  .questions .question__title {
    margin-bottom: 24px;
  }
}
.questions .questions__container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 212px;
  padding-bottom: 73px;
  align-items: start;
}
@media (max-width: 1920px) {
  .questions .questions__container {
    gap: 24px 178px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1440px) {
  .questions .questions__container {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
@media (max-width: 990px) {
  .questions .questions__container {
    -moz-column-gap: 24px;
         column-gap: 24px;
    padding-bottom: 13px;
  }
}
@media (max-width: 768px) {
  .questions .questions__container {
    grid-template-columns: 1fr;
    gap: 0;
    padding-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .questions .questions__container {
    padding-bottom: 28px;
  }
}
.questions .questions__container .question {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  justify-content: flex-start;
  margin-bottom: 27px;
}
@media (max-width: 990px) {
  .questions .questions__container .question {
    margin-bottom: 20px;
  }
}
@media (max-width: 990px) {
  .questions .questions__container .question .container--top .question--midleOnMobile:last-child {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
}
.questions .questions__container .question:last-child {
  border: none;
}
.questions .questions__container .question .question__button {
  display: flex;
  text-align: start;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  font-weight: 500;
  margin-bottom: 27px;
  padding: 0;
  width: 100%;
  min-height: 67px;
}
@media (max-width: 1920px) {
  .questions .questions__container .question .question__button {
    font-size: 18px;
    min-height: 50px;
  }
}
@media (max-width: 768px) {
  .questions .questions__container .question .question__button {
    font-size: 16px;
  }
}
.questions .questions__container .question .question__button .button__ico {
  margin: 0 0 auto auto;
  filter: brightness(1000%);
  width: 32px;
  height: auto;
}
.questions .questions__container .question .question__answer {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  line-height: 150%;
  margin: 0;
  padding-bottom: 27px;
}
@media (max-width: 1920px) {
  .questions .questions__container .question .question__answer {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .questions .questions__container .question .question__answer {
    font-size: 12px;
  }
}
.questions .questions__container .question .invisible {
  display: none;
  grid-row: span 4;
}
@media (max-width: 768px) {
  .questions .questions__container .question--mobileMiddle:last-child {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
}

.footer {
  padding: 0 220px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
@media (max-width: 1920px) {
  .footer {
    padding: 0 12vw;
  }
}
@media (max-width: 1440px) {
  .footer {
    padding: 0 48px;
  }
}
@media (max-width: 990px) {
  .footer {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 0 16px;
  }
}
.footer .footer__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .footer .footer__wrap {
    grid-template-columns: 1fr;
  }
}
.footer .footer__wrap .meta {
  display: grid;
  flex-wrap: wrap;
  min-width: -moz-min-content;
  min-width: min-content;
  grid-template-rows: repeat(4, auto) 1fr;
}
@media (max-width: 768px) {
  .footer .footer__wrap .meta {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .footer .footer__wrap .meta {
    max-height: none;
  }
}
.footer .footer__wrap .meta .meta__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
  max-width: 200px;
  grid-column: 1;
}
@media (max-width: 1920px) {
  .footer .footer__wrap .meta .meta__link {
    font-size: 14px;
  }
}
.footer .footer__wrap .meta .meta__link:nth-last-child(2) {
  grid-column: 2;
  grid-row: 1;
}
@media (max-width: 375px) {
  .footer .footer__wrap .meta .meta__link:nth-last-child(2) {
    grid-column: 1;
    grid-row: 1;
  }
}
.footer .footer__wrap .meta .meta__link:last-child {
  grid-column: 2;
  grid-row: 2;
}
@media (max-width: 375px) {
  .footer .footer__wrap .meta .meta__link:last-child {
    grid-column: 1;
    grid-row: 1;
  }
}
.footer .footer__wrap .contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .footer .footer__wrap .contacts {
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 35px;
    width: 100%;
    max-height: 170px;
  }
}
@media (max-width: 375px) {
  .footer .footer__wrap .contacts {
    max-height: none;
  }
}
.footer .footer__wrap .contacts .contacts__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  color: #fff;
  margin: 0 0 20px;
  padding: 0;
}
@media (max-width: 1920px) {
  .footer .footer__wrap .contacts .contacts__title {
    font-size: 16px;
  }
}
.footer .footer__wrap .contacts .contacts__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
  max-width: 200px;
  align-items: flex-start;
}
@media (max-width: 1920px) {
  .footer .footer__wrap .contacts .contacts__link {
    font-size: 14px;
  }
}
.footer .footer__wrap .contacts .contacts__link:nth-last-child(2) {
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .footer .footer__wrap .contacts .contacts__link:nth-last-child(2) {
    margin-bottom: 4px;
  }
}
.footer .footer__wrap .contacts .support {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto;
}
@media (max-width: 768px) {
  .footer .footer__wrap .contacts .support {
    margin-left: auto;
  }
}
@media (max-width: 375px) {
  .footer .footer__wrap .contacts .support {
    margin-left: 0;
  }
}
.footer .footer__wrap .contacts .support .support__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
  max-width: 200px;
  grid-column-start: span 2;
  margin-bottom: 20px;
}
@media (max-width: 1920px) {
  .footer .footer__wrap .contacts .support .support__title {
    font-size: 14px;
  }
}
.footer .footer__wrap .contacts .support .support__link {
  grid-row-start: 2;
}
.footer .footer__wrap--bottom {
  display: flex;
  flex-direction: column;
}
.footer .payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  gap: 25px;
  margin-bottom: 35px;
}
.footer .payment .payment__img {
  width: -moz-min-content;
  width: min-content;
  height: 40px;
}
@media (max-width: 1920px) {
  .footer .payment .payment__img {
    height: 32px;
  }
}
.footer .companyNumber {
  margin-left: auto;
  font-size: 15px;
}
@media (max-width: 1920px) {
  .footer .companyNumber {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .footer .companyNumber {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    gap: 4px;
  }
}
.footer .companyNumber .dot {
  padding: 0 5px;
}
@media (max-width: 768px) {
  .footer .companyNumber .dot {
    display: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #131212;
  background-position: bottom;
  background-size: cover;
  background-image: url("../img/bg.webp");
  background-repeat: no-repeat;
}
@media (max-width: 990px) {
  body {
    background-image: url("../img/bg990.webp");
  }
}
@media (max-width: 410px) {
  body {
    background-image: url("../img/bg375.webp");
  }
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
a:hover {
  filter: brightness(80%);
}
a:active {
  color: #FC3232;
  filter: brightness(100%);
}

button {
  cursor: pointer;
}
button:hover {
  filter: brightness(80%);
}
button:active {
  filter: brightness(100%);
}/*# sourceMappingURL=main.css.map */