.button {
  padding: 16px 32px;
  background: none;
  border-radius: 5px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.button:active {
  border-color: #FF1F1F;
  background-color: #FF1F1F;
  transition: 0s;
  filter: brightness(100%);
}
@media (max-width: 1920px) {
  .button {
    font-size: 16px;
    padding: 11px 24px;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 9px 24px;
  }
}

.button--primary {
  background-color: #FF1F1F;
  border: none;
  font-weight: 600;
  padding: 24px 40px;
  font-size: 26px;
}
.button--primary:active {
  background-color: red;
  filter: brightness(100%);
}
@media (max-width: 1920px) {
  .button--primary {
    font-size: 20px;
    padding: 18px 32px;
  }
}
@media (max-width: 1440px) {
  .button--primary {
    font-size: 18px;
    padding: 16px 28px;
  }
}
@media (max-width: 990px) {
  .button--primary {
    font-size: 17px;
    padding: 16px 24px;
  }
}
@media (max-width: 375px) {
  .button--primary {
    font-size: 15px;
    padding: 14px 14px;
  }
}

.button--secondary {
  border: none;
  color: rgba(255, 255, 255, 0.8);
}
.button--secondary:active {
  background: none;
  color: #FF1F1F;
  transition: 0s;
}

.active {
  border-color: #FF1F1F;
  background-color: #FF1F1F;
}
.active:hover {
  filter: brightness(100%);
}

.withTransform {
  transition: 0.2s;
  margin-top: 6px;
  padding: 16px 24px;
}
.withTransform:hover {
  transform: translateY(-6px);
}

.withArray::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M10.668 14.6719L16.0013 18.5119L21.3346 14.6719' stroke='red' stroke-width='2.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.nav {
  padding: 0 200px;
  max-width: 1920px;
  height: auto;
  margin: auto;
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  align-items: center;
  margin: 30px auto;
}
@media (max-width: 1920px) {
  .nav {
    padding: 0 12%;
  }
}
@media (max-width: 1440px) {
  .nav {
    padding: 0 48px;
  }
}
@media (max-width: 990px) {
  .nav {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .nav {
    padding: 0 16px;
  }
}
@media (max-width: 1920px) {
  .nav {
    margin: 23px auto;
  }
}
@media (max-width: 990px) {
  .nav {
    justify-content: flex-end;
    margin: 16px auto;
  }
}

@media (max-width: 990px) {
  .nav__regbutton {
    display: none;
  }
}

.nav__logo {
  margin-right: auto;
  width: 96px;
  height: auto;
}
@media (max-width: 1920px) {
  .nav__logo {
    width: 72px;
  }
}
@media (max-width: 990px) {
  .nav__logo {
    width: 64px;
  }
}
@media (max-width: 768px) {
  .nav__logo {
    width: 56px;
  }
}

.nav__a {
  margin-right: 16px;
}
@media (max-width: 990px) {
  .nav__a {
    display: none;
  }
}

.main {
  color: #fff;
  margin-bottom: 90px;
  font-weight: 400;
}

.logoList {
  padding: 0 200px;
  max-width: 1920px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 150px;
}
@media (max-width: 1920px) {
  .logoList {
    padding: 0 12%;
  }
}
@media (max-width: 1440px) {
  .logoList {
    padding: 0 48px;
  }
}
@media (max-width: 990px) {
  .logoList {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .logoList {
    padding: 0 16px;
  }
}

.section {
  padding: 0 200px;
  max-width: 1920px;
  height: auto;
  margin: auto;
  display: flex;
}
@media (max-width: 1920px) {
  .section {
    padding: 0 12%;
  }
}
@media (max-width: 1440px) {
  .section {
    padding: 0 48px;
  }
}
@media (max-width: 990px) {
  .section {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 0 16px;
  }
}
.section .section__title {
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 50px;
  line-height: 140%;
  min-width: 530px;
}
@media (max-width: 990px) {
  .section .section__title {
    min-width: 300px;
  }
}
.section .section__subtitle {
  margin-bottom: 70px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  line-height: 150%;
}
.section .diferentDevices {
  margin-bottom: 140px;
}

.section--cards {
  display: flex;
  justify-content: space-between;
  flex-basis: 2;
  margin-bottom: 140px;
}
@media (max-width: 1440px) {
  .section--cards {
    margin-bottom: 75px;
  }
}
@media (max-width: 768px) {
  .section--cards {
    display: none;
  }
}
.section--cards .card {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}
@media (max-width: 1440px) {
  .section--cards .card {
    max-width: 205px;
  }
}
@media (max-width: 990px) {
  .section--cards .card {
    align-items: center;
  }
}
.section--cards .card .card__title {
  font-size: 24px;
  margin: 32px 0 16px;
}
@media (max-width: 1920px) {
  .section--cards .card .card__title {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  .section--cards .card .card__title {
    font-size: 16px;
  }
}
@media (max-width: 990px) {
  .section--cards .card .card__title {
    text-align: center;
    margin: 12px 0;
  }
}
.section--cards .card .card__text {
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 1920px) {
  .section--cards .card .card__text {
    font-size: 18px;
  }
}
@media (max-width: 1440px) {
  .section--cards .card .card__text {
    font-size: 16px;
  }
}
@media (max-width: 990px) {
  .section--cards .card .card__text {
    display: none;
  }
}
.section--cards .card .card__img {
  max-width: 96px;
  height: auto;
}
@media (max-width: 1920px) {
  .section--cards .card .card__img {
    max-width: 72px;
  }
}
@media (max-width: 1440px) {
  .section--cards .card .card__img {
    max-width: 64px;
  }
}
@media (max-width: 990px) {
  .section--cards .card .card__img {
    max-width: 48px;
  }
}

.section--top .section__title {
  font-size: 56px;
  margin: 70px 0 50px;
  font-weight: 600;
  line-height: 120%;
}
@media (max-width: 1920px) {
  .section--top .section__title {
    font-size: 42px;
    margin-bottom: 32px;
  }
}
@media (max-width: 1440px) {
  .section--top .section__title {
    font-size: 38px;
  }
}
@media (max-width: 990px) {
  .section--top .section__title {
    font-size: 32px;
    margin: 24px 0;
  }
}
@media (max-width: 768px) {
  .section--top .section__title {
    font-size: 28px;
    margin: 0px 0;
  }
}
@media (max-width: 375px) {
  .section--top .section__title {
    font-size: 24px;
  }
}
.section--top .section__subtitle {
  margin-bottom: 70px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 26px;
  line-height: 140%;
}
@media (max-width: 1920px) {
  .section--top .section__subtitle {
    font-size: 20px;
    margin-bottom: 56px;
  }
}
@media (max-width: 1440px) {
  .section--top .section__subtitle {
    font-size: 18px;
    margin-bottom: 48px;
  }
}
@media (max-width: 990px) {
  .section--top .section__subtitle {
    font-size: 17px;
    margin-bottom: 34px;
  }
}
@media (max-width: 768px) {
  .section--top .section__subtitle {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
@media (max-width: 375px) {
  .section--top .section__subtitle {
    font-size: 15px;
    margin-bottom: 24px;
  }
}

.section--column {
  flex-direction: column;
}

.section--withImg {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  padding-right: 0;
  margin-bottom: 140px;
}
@media (max-width: 990px) {
  .section--withImg {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .section--withImg {
    grid-template-columns: 1fr;
    padding: 0 200px;
    max-width: 1920px;
    height: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) and (max-width: 1920px) {
  .section--withImg {
    padding: 0 12%;
  }
}
@media (max-width: 768px) and (max-width: 1440px) {
  .section--withImg {
    padding: 0 48px;
  }
}
@media (max-width: 768px) and (max-width: 990px) {
  .section--withImg {
    padding: 0 40px;
  }
}
@media (max-width: 768px) and (max-width: 768px) {
  .section--withImg {
    padding: 0 16px;
  }
}
.section--withImg .section--withImg__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 400px;
  max-width: 640px;
  grid-column: 1;
  grid-row: 2;
}
@media (max-width: 768px) {
  .section--withImg .section--withImg__text {
    grid-row-start: 3;
    align-items: center;
    min-width: 100px;
  }
}
.section--withImg .section--withImg__img {
  width: 100%;
  min-width: 600px;
  margin: -40px 0 auto 0px;
  grid-row-start: span 2;
}
@media (max-width: 768px) {
  .section--withImg .section--withImg__img {
    min-width: 0;
    grid-row-start: 2;
    margin: 0;
  }
}

.connect {
  display: grid;
  margin: 0 auto 125px;
  background-image: url("../../img/border.svg");
  background-size: cover;
  border-bottom: 3px solid #FF1F1F;
  border-radius: 15px;
  background-repeat: no-repeat;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  width: 100%;
  max-width: 1150px;
  height: auto;
  position: relative;
  padding: 0 100px;
}
@media (max-width: 768px) {
  .connect {
    background-size: contain;
  }
}
.connect .connect__eye {
  grid-column-start: span 2;
  width: 7%;
  margin: 25px auto 20px;
  font-weight: 400;
}
.connect .connect__price {
  display: inline-block;
  align-self: center;
  margin: auto;
  font-size: 20px;
  max-width: 250px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.connect .connect__price .price__title {
  display: inline-block;
  font-size: 90px;
  color: #FF1F1F;
  font-weight: 600;
}
.connect .connect__price .price__subtitle {
  line-height: 140%;
}
.connect .connect__advantages {
  font-size: 26px;
  margin-left: 40px;
}
.connect .connect__advantages .advantages__ul {
  padding: 0;
  list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" viewBox="0 0 32 32" fill="none"><path d="M5.33337 15.4118L12.6275 22.7059L26 9.33334" stroke="%23EEC63B"  stroke-width="4" stroke-linecap="round" stroke-linejoin="round" /></svg>');
}
.connect .connect__advantages .advantages__ul::marker {
  transform: translateY(-5px);
}
.connect .connect__advantages .advantages__ul .li {
  margin-bottom: 26px;
  margin-left: 35px;
}
.connect .connect__advantages .advantages__ul .li::marker {
  font-size: 1.9em;
  line-height: 0;
}
.connect .connect__form {
  display: flex;
  grid-row-start: 3;
  grid-column-start: span 2;
  justify-content: center;
  margin: 42px auto;
  width: 100%;
}
.connect .form__input {
  padding: 0 20px;
  height: 100%;
  border: 1px solid #D0D0D1;
  align-self: center;
  width: 40%;
}
.connect .form__button {
  color: #fff;
}

.tvCards {
  display: flex;
  flex-direction: column;
  margin-bottom: 190px;
}
.tvCards .tvCards__header {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin-bottom: 50px;
}
.tvCards .tvCards__header .header__title {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 20px;
}
.tvCards .tvCards__header .headert__ico {
  padding: 25px;
}
.tvCards .tvCards__header .header__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.tvCards .tvCards__butonsBlock {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.tvCards .tvCards__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-template-rows: auto auto;
  grid-auto-rows: 0;
  gap: 50px 4%;
  overflow: hidden;
  margin-bottom: 23px;
}
.tvCards .tvCards__cards .card {
  border-radius: 10px;
  border: 1px solid #C6C6C8;
  padding: 30px;
  margin: 0;
}
.tvCards .tvCards__cards .red {
  background: var(--gradient-a-red, linear-gradient(180deg, #FF6961 0%, #D70015 100%));
}
.tvCards .tvCards__cards .blue {
  background: var(--gradient-f-dark-blue, linear-gradient(180deg, #409CFF 0%, #0040DD 100%));
}
.tvCards .tvCards__cards .yellow {
  background: var(--gradient-c-yellow, linear-gradient(180deg, #FFD426 0%, #B25000 100%));
}
.tvCards .tvCards__cards .green {
  background: var(--gradient-d-green, linear-gradient(180deg, #30DB5B 0%, #248A3D 100%));
}
.tvCards .tvCards__cards .slateblue {
  background: var(--gradient-g-violet, linear-gradient(180deg, #7D7AFF 0%, #3634A3 100%));
}
.tvCards .tvCards__button {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0;
}

.questions {
  display: flex;
  flex-direction: column;
}
.questions .questions__container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 14%;
  padding-bottom: 90px;
}
@media (max-width: 990px) {
  .questions .questions__container {
    grid-template-columns: 1fr;
  }
}
.questions .questions__container .question {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  justify-content: flex-start;
}
.questions .questions__container .question:nth-last-child(2) {
  border: none;
}
.questions .questions__container .question:last-child {
  border: none;
}
.questions .questions__container .question .question__button {
  display: flex;
  text-align: start;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}
.questions .questions__container .question .question__button .button__ico {
  margin: 0 0 auto auto;
  filter: brightness(1000%);
  width: 32px;
  height: auto;
}
.questions .questions__container .question .question__answer {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}
.questions .questions__container .question .invisible {
  display: none;
  grid-row: span 4;
}

.footer {
  padding: 0 200px;
  max-width: 1920px;
  height: auto;
  margin: auto;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}
@media (max-width: 1920px) {
  .footer {
    padding: 0 12%;
  }
}
@media (max-width: 1440px) {
  .footer {
    padding: 0 48px;
  }
}
@media (max-width: 990px) {
  .footer {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 0 16px;
  }
}
.footer .footer__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 768px) {
  .footer .footer__wrap {
    grid-template-columns: 1fr;
  }
}
.footer .footer__wrap .meta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
}
@media (max-width: 768px) {
  .footer .footer__wrap .meta {
    max-height: none;
  }
}
.footer .footer__wrap .meta .meta__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
  max-width: 200px;
}
.footer .footer__wrap .contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.footer .footer__wrap .contacts .contacts__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  color: #fff;
  margin: 0 0 20px;
  padding: 0;
}
.footer .footer__wrap .contacts .contacts__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
  max-width: 200px;
  align-items: flex-start;
}
.footer .footer__wrap .contacts .support {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto auto;
}
@media (max-width: 768px) {
  .footer .footer__wrap .contacts .support {
    grid-template-columns: 1fr;
  }
}
.footer .footer__wrap .contacts .support .support__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 10px;
  max-width: 200px;
  grid-column-start: span 2;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .footer .footer__wrap .contacts .support .support__title {
    grid-column-start: 1;
  }
}
.footer .footer__wrap .contacts .support .support__link {
  grid-row-start: 2;
}
.footer .footer__wrap--bottom {
  display: flex;
  flex-direction: column;
}
.footer .payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: auto;
  gap: 25px;
}
.footer .companyNumber {
  margin-left: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #131212;
  background-position: bottom;
  background-size: cover;
  background-image: url("../img/bg.webp");
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
a:hover {
  filter: brightness(80%);
}
a:active {
  color: #FF1F1F;
  filter: brightness(100%);
}

button {
  cursor: pointer;
}
button:hover {
  filter: brightness(80%);
}
button:active {
  filter: brightness(100%);
}/*# sourceMappingURL=style.css.map */