@import "../theme";

.button {
    padding: 16px 32px;
    background: none;
    border-radius: 5px;
    border: 2px solid $text;
    color: $text;
    font-weight: 500;
    font-size: $fontSmall;

    &:active {
        border-color: $primary;
        background-color: $primary;
        transition: 0s;
        filter: brightness(100%);
    }

    @media (max-width: $brkpDesktop) {
        font-size: calc($fontSmall - 4px);
        padding: 11px 24px;
    }

    @media (max-width: $brkpMobile) {
        font-size: calc($fontSmall - 6px);
        padding: 9px 24px;
    }
}

.button--primary {
    background-color: $primary;
    border: none;
    font-weight: 600;
    padding: 24px 40px;
    font-size: $fontMedium;

    &:active {
        background-color: red;
        filter: brightness(100%);
    }

    @media (max-width: $brkpDesktop) {
        font-size: calc($fontMedium - 6px);
        padding: 18px 32px;
    }

    @media (max-width: $brkpDesktopMin) {
        font-size: calc($fontMedium - 8px);
        padding: 16px 28px;
    }

    @media (max-width: $brkpTablet) {
        font-size: calc($fontMedium - 9px);
        padding: 16px 24px;
    }

    @media (max-width: $brkpMobileMin) {
        font-size: calc($fontMedium - 11px);
        padding: 14px 14px;
    }
}

.button--secondary {
    border: none;
    color: $secondaryText;

    &:active {
        background: none;
        color: $primary;
        transition: 0s;
    }
}

.active {
    border-color: $primary;
    background-color: $primary;

    &:hover {
        filter: brightness(100%);
    }
}