@import "../theme";

.card {
    margin-bottom: 70px;

    .card__title {
        font-size: calc($fontMedium - 2px);
        margin: 32px 0 16px;
    }

    .card__text {
        font-size: $fontSmall;
        font-weight: 400;
        line-height: 30px
    }
}