@import "../theme";

$border: 2px solid $primary;
$borderTop: 1px solid $primary;

.connect {
    display: grid;
    margin: 50px auto 125px;
    border-radius: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    min-width: 1150px;
    padding: 0;
    border-bottom: $border;
    border-right: $border;
    border-left: $border;
    position: relative;

    @media (max-width: $brkpDesktop) {
        min-width: 862px;
        margin: 33px auto 70px;
    }

    @media (max-width: $brkpDesktopMin) {
        min-width: 800px;
        margin-bottom: 60px;
    }

    @media (max-width: $brkpTablet) {
        width: 688px;
        min-width: 688px;
        margin-bottom: 50px;
    }

    @media (max-width: $brkpMobile) {
        width: 343px;
        min-width: 343px;
        display: flex;
        flex-direction: column;
        padding: 0 23.5px;
        margin-bottom: 35px;
    }

    @media (max-width: $brkpMobileMin) {
        width: 288px;
        min-width: 288px;
        max-width: none;
        padding: 0 16px;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0%;
        width: 515px;
        border-top: $borderTop;
        right: 9px;
        border-radius: 10px;

        @media (max-width: $brkpDesktop) {
            width: 389px;
        }

        @media (max-width: $brkpDesktopMin) {
            width: 358px;
        }

        @media (max-width: $brkpTablet) {
            width: 301px;
        }

        @media (max-width: $brkpMobile) {
            width: 129px;
        }

        @media (max-width: $brkpMobileMin) {
            width: 102px
        }
    }

    &::before {
        left: 9px;
    }

    .form-wrap {
        padding: 50px 16px 32px 16px;
    }

    .circle {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 50px;
        border-radius: 100px 100px 0 0;
        border-top: $border;
        border-left: $border;
        border-right: $border;

        @media (max-width: $brkpDesktop) {
            width: 66px;
            height: 33px;
            top: -33px;
        }
    }

    .connect__eye {
        grid-column-start: span 2;
        margin: -30px auto 20px;
        font-weight: 400;

        @media (max-width: $brkpDesktop) {
            max-width: 54px;
            margin-top: -20px;
        }

        @media (max-width: $brkpDesktop) {
            max-width: 50px;
        }

        @media (max-width: $brkpTablet) {
            max-width: 46px;
        }

        @media (max-width: $brkpMobile) {
            max-width: 44px;
        }

        @media (max-width: $brkpMobileMin) {
            max-width: 40px;
        }
    }

    .connect__price {
        display: inline-block;
        align-self: center;
        margin: auto;
        font-size: $fontSmall;
        max-width: 250px;
        color: $secondaryText;
        text-align: center;

        @media (max-width: $brkpDesktop) {
            font-size: calc($fontSmall - 4px);
            margin-right: 50px;
        }

        @media (max-width: $brkpTablet) {
            margin-right: 20px;
        }

        @media (max-width: $brkpMobile) {
            margin: 0;
        }

        @media (max-width: $brkpMobileMin) {
            font-size: calc($fontSmall - 5px)
        }

        .price__title {
            display: inline-block;
            font-size: 90px;
            color: $primary;
            font-weight: 600;

            @media (max-width: $brkpDesktop) {
                font-size: 67px;
            }
        }

        .price__subtitle {
            line-height: 140%;
        }
    }

    .connect__advantages {
        font-size: $fontMedium;
        margin-left: 40px;

        @media (max-width: $brkpDesktop) {
            font-size: calc($fontMedium - 6px)
        }

        @media (max-width: $brkpDesktopMin) {
            font-size: calc($fontMedium - 8px);
            letter-spacing: 0.18px;
        }

        @media (max-width: $brkpTablet) {
            font-size: calc($fontMedium - 10px);
            letter-spacing: 0.32px;
        }

        @media (max-width: $brkpMobile) {
            margin: auto;
        }

        @media (max-width: $brkpMobileMin) {
            font-size: calc($fontMedium - 11px);
        }

        .advantages__ul {
            padding: 0;
            list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="auto" height="auto" viewBox="0 0 32 32" fill="none"><path d="M5.33337 15.4118L12.6275 22.7059L26 9.33334" stroke="%23EEC63B"  stroke-width="4" stroke-linecap="round" stroke-linejoin="round" /></svg>');

            &::marker {
                transform: translateY(-5px);
            }

            .li {
                margin-bottom: 26px;
                margin-left: 35px;

                &::marker {
                    font-size: 1.6em;
                    line-height: 0;
                }
            }
        }
    }

    .connect__form {
        display: flex;
        grid-row-start: 3;
        grid-column-start: span 2;
        justify-content: center;
        margin: 42px auto;
        width: 100%;

        @media (max-width: $brkpMobile) {
            flex-direction: column;
            align-items: stretch;
            margin: auto auto 32px;
        }
    }

    .form__input {
        padding: 0 20px;
        height: 100%;
        border: 1px solid #D0D0D1;
        align-self: center;
        width: 40%;
        font-size: 24px;
        opacity: 0.9;
        border-radius: 5px 0px 0px 5px;

        @media (max-width: $brkpDesktop) {
            padding: 0 16px;
            font-size: 22px;
        }

        @media (max-width: $brkpDesktopMin) {
            font-size: 18px;
        }

        @media (max-width: $brkpTablet) {
            font-size: 17px;
        }

        @media (max-width: $brkpMobile) {
            padding: 15px 16px;
            margin-bottom: 16px;
            border-radius: 5px;
            width: 100%;
            border-radius: 5px;
        }

        @media (max-width: $brkpMobileMin) {
            font-size: 15px;
        }
    }

    .form__button {
        color: $text;
        border-radius: 0px 5px 5px 0px;

        @media (max-width: $brkpMobile) {
            border-radius: 5px;
        }
    }
}