@import "../theme";
@import "../mixins";

.main {
    color: $text;
    margin-bottom: 90px;
    font-weight: 400;

    .section {
        @include container;
        display: flex;

        .section__title {
            @include title;
        }

        .section__subtitle {
            @include subTitle;
            line-height: 150%;
        }
    }

    .section--cards {
        display: flex;
        justify-content: space-between;
        flex-basis: 2;
        margin-bottom: 140px;

        @media (max-width: $brkpDesktopMin) {
            margin-bottom: 104px;
        }

        @media (max-width: $brkpTablet) {
            margin-bottom: 75px;
        }

        @media (max-width: $brkpMobile) {
            display: none;
        }

        .card {
            display: flex;
            flex-direction: column;
            max-width: 240px;

            @media (max-width: $brkpDesktopMin) {
                max-width: 205px;
            }

            @media (max-width: $brkpTablet) {
                align-items: center;
            }

            .card__title {
                font-size: calc($fontMedium - 2px);
                margin: 32px 0 16px;

                @media (max-width: $brkpDesktop) {
                    font-size: calc($fontMedium - 8px);
                }

                @media (max-width: $brkpDesktopMin) {
                    font-size: calc($fontMedium - 10px);
                }

                @media (max-width: $brkpTablet) {
                    text-align: center;
                    margin: 12px 0;
                }
            }

            .card__text {
                font-size: $fontSmall;
                line-height: 150%;
                opacity: 0.8;

                @media (max-width: $brkpDesktop) {
                    font-size: calc($fontMedium - 8px);
                }

                @media (max-width: $brkpDesktopMin) {
                    font-size: calc($fontMedium - 10px);
                }

                @media (max-width: $brkpTablet) {
                    display: none;
                }
            }

            .card__img {
                max-width: 96px;
                height: auto;

                @media (max-width: $brkpDesktop) {
                    max-width: 72px;
                }

                @media (max-width: $brkpDesktopMin) {
                    max-width: 64px;
                }

                @media (max-width: $brkpTablet) {
                    max-width: 48px;
                }
            }
        }
    }

    .section--top {

        margin-bottom: 140px;

        @media (max-width: $brkpDesktop) {
            margin-bottom: 122px;
        }

        @media (max-width: $brkpDesktopMin) {
            margin-bottom: 57px;
        }

        @media (max-width: $brkpTablet) {
            margin-bottom: 42px;
        }

        @media (max-width: $brkpMobile) {
            margin-bottom: 40px;
        }

        @media (max-width: $brkpMobileMin) {
            margin-bottom: 36px;
        }

        .section__title {
            font-size: calc($fontBig + 4px);
            margin: 70px 0 50px;
            font-weight: 600;
            line-height: 120%;
            min-width: 530px;
            margin-bottom: 50px;

            @media (max-width: $brkpDesktop) {
                font-size: calc($fontBig - 10px);
                margin-bottom: 32px;
            }

            @media (max-width: $brkpDesktopMin) {
                font-size: calc($fontBig - 14px);
            }

            @media (max-width: $brkpTablet) {
                font-size: calc($fontBig - 20px);
                min-width: 370px;
                margin: 24px 0;
            }

            @media (max-width: $brkpMobile) {
                font-size: calc($fontBig - 24px);
                min-width: 200px;
                margin: 0px 0;
            }

            @media (max-width: $brkpMobileMin) {
                font-size: calc($fontBig - 28px);
            }
        }

        .section__subtitle {
            font-weight: 400;
            line-height: 140%;
            margin-bottom: 70px;
            font-size: $fontMedium;

            @media (max-width: $brkpDesktop) {
                font-size: calc($fontMedium - 6px);
                margin-bottom: 56px;
            }

            @media (max-width: $brkpDesktopMin) {
                font-size: calc($fontMedium - 8px);
                margin-bottom: 48px;
            }

            @media (max-width: $brkpTablet) {
                font-size: calc($fontMedium - 9px);
                margin-bottom: 34px;
            }

            @media (max-width: $brkpMobile) {
                font-size: calc($fontMedium - 10px);
                margin-bottom: 32px;
            }

            @media (max-width: $brkpMobileMin) {
                font-size: calc($fontMedium - 11px);
                margin-bottom: 24px;
            }
        }
    }

    .section--column {
        flex-direction: column;
    }

    .section--withImg {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        overflow: hidden;
        padding-right: 0;

        @media (max-width: $brkpMobile) {
            grid-template-columns: 1fr;
            @include container;
            text-align: center;
        }

        .section--withImg__header {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: 400px;
            max-width: 640px;
            grid-column: 1;
            grid-row: 2;

            @media (max-width: $brkpTablet) {
                min-width: 100px;
            }

            @media (max-width: $brkpMobile) {
                grid-row-start: 3;
                align-items: center;
            }
        }

        .section--withImg__img {
            width: 100%;
            min-width: 600px;
            margin: -40px 0 auto 0px;
            grid-row-start: span 3;
            grid-column: 2;
            margin-top: auto;

            @media (max-width: $brkpMobile) {
                min-width: 0;
                grid-row-start: 2;
                grid-column: 1;
                margin: 0;
            }
        }
    }

    .logoList {
        @include container;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 120px;

        @media (max-width: $brkpDesktop) {
            margin-bottom: 120px;
        }

        @media (max-width: $brkpDesktopMin) {
            margin-bottom: 82px;
        }

        @media (max-width: $brkpTablet) {
            margin-bottom: 37px;
        }

        @media (max-width: $brkpMobile) {
            margin-bottom: 44px;
        }

        .logoList__logo {
            width: min-content;

            @media (max-width: $brkpDesktop) {
                height: 30px;
            }

            @media (max-width: $brkpTablet) {
                height: 22px;
            }

            @media (max-width: $brkpMobileMin) {
                height: 20px;
            }
        }
    }
}