@import "../theme";

@mixin container {
    padding: 0 150px;
    max-width: 1920px;
    height: auto;
    margin: auto;

    @media (max-width: $brkpTablet) {
        padding: 0 5%;
    }

    @media (max-width: $brkpMin) {
        padding: 0 16px;
    }
}