@import "./button";
@import "../theme";
@import "./mixins";

.nav {
    display: flex;
    color: $secondaryText;
    height: 110px;
    @include container;
    align-items: center;
}

.nav__logo {
    margin-right: auto;
}

.nav__a {
    margin-right: 16px;
}