@import "./button";
@import "../theme";
@import "./mixins";

@mixin mobileRemover {
    @media (max-width: $brkpTablet) {
        display: none;
    }
}

.nav {
    @include container;
    display: flex;
    color: $secondaryText;
    align-items: center;
    margin: 30px auto;

    @media (max-width: $brkpDesctop) {
        margin: 23px auto;
    }

    @media (max-width: $brkpTablet) {
        justify-content: flex-end;
        margin: 16px auto;
    }
}

.nav__regbutton {
    @include mobileRemover;
}


.nav__logo {
    margin-right: auto;
    width: 96px;
    height: auto;

    @media (max-width: $brkpDesctop) {
        width: 72px;
    }

    @media (max-width: $brkpTablet) {
        width: 64px;
    }

    @media (max-width: $brkpMobile) {
        width: 56px;
    }
}

.nav__a {
    @include mobileRemover;
    margin-right: 16px;
}