@import "../theme";

@mixin border {
    border-bottom: 2px solid #fff3;
}

.questions {
    display: flex;
    flex-direction: column;

    .questions__container {
        @include border;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px 212px;
        padding-bottom: 73px;

        @media (max-width: $brkpDesktop) {
            gap: 24px 178px;
            padding-bottom: 48px;
        }

        @media (max-width: $brkpDesktopMin) {
            column-gap: 32px;
            
        }

        @media (max-width: $brkpTablet) {
            column-gap: 24px;
            padding-bottom: 13px;
        }

        @media (max-width: $brkpMobile) {
            grid-template-columns: 1fr;
            padding-bottom: 30px;
        }

        @media (max-width: $brkpMobileMin) {
            padding-bottom: 28px;
        }

        .question {
            @include border;
            justify-content: flex-start;
            margin-bottom: 27px;

            @media (max-width: $brkpTablet) {
                margin-bottom: 20px;
            }

            &:nth-last-child(2) {
                border: none;
                @media (max-width: $brkpMobile) {
                    @include border;
                }
            }

            &:last-child {
                border: none;
            }

            .question__button {
                display: flex;
                text-align: start;
                background: none;
                border: none;
                color: $text;
                font-size: calc($fontMedium - 2px);
                line-height: 140%;
                font-weight: 500;
                margin-bottom: 27px;
                padding: 0;
                width: 100%;

                @media (max-width: $brkpDesktop) {
                    font-size: calc($fontMedium - 8px);
                }

                @media (max-width: $brkpMobile) {
                    font-size: calc($fontMedium - 10px);
                }

                .button__ico {
                    margin: 0 0 auto auto;
                    filter: brightness(1000%);
                    width: 32px;
                    height: auto;
                }
            }

            .question__answer {
                font-size: $fontSmall;
                color: $secondaryText;
                font-weight: 400;
                line-height: 150%;
                margin: 0;
                padding-bottom: 27px;

                @media (max-width: $brkpDesktop) {
                    font-size: calc($fontSmall - 4px);
                }

                @media (max-width: $brkpMobile) {
                    font-size: calc($fontSmall - 8px);
                }
            }

            .invisible {
                display: none;
                grid-row: span 4;
            }
        }
    }

}