@import "../theme";
@import "../mixins";

.tvCards {
    display: flex;
    flex-direction: column;
    margin-bottom: 190px;

    @media (max-width: $brkpDesktop) {
        margin-bottom: 120px;
    }

    @media (max-width: $brkpDesktopMin) {
        margin-bottom: 90px;
    }

    @media (max-width: $brkpTablet) {
        margin-bottom: 70px;
    }

    @media (max-width: $brkpMobile) {
        margin-bottom: 52px;
    }

    @media (max-width: $brkpMobileMin) {
        margin-bottom: 34px;
    }

    .tvCards__header {
        display: flex;
        flex-direction: column;
        max-width: 60%;
        margin-bottom: 50px;

        @media (max-width: $brkpMobile) {
            max-width: 100%;
            align-items: center;
            text-align: center;
        }

        .header__title {
            @include title;
            font-weight: 500;
            margin-bottom: 20px;
            white-space: nowrap;
            margin-top: 0;

            @media (max-width: $brkpTablet) {
                margin-bottom: 16px;
            }

            @media (max-width: $brkpMobile) {
                margin-bottom: 13px;
            }

            @media (max-width: $brkpMobileMin) {
                margin-bottom: 8px;
            }
        }

        .header__ico {
            padding: 25px 20px;

            @media (max-width: $brkpDesktop) {
                width: 48px;
                min-width: min-content;
                height: auto;
            }

            @media (max-width: $brkpMobile) {
                width: 40px;
                padding: 20px 15px;
            }
        }

        .header__subtitle {
            @include subTitle;
        }
    }

    .tvCards__butonsBlock {
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        @media (max-width: $brkpDesktop) {
            margin-bottom: 40px;
        }

        @media (max-width: $brkpDesktopMin) {
            gap: 24px;
        }
        
        @media (max-width: $brkpMobile) {
            margin-bottom: 24.5px;
            gap: 16px;
        }

        .butonsBlock__button {
            transition: 0.2s;
            margin-top: 6px;
            padding: 16px 24px;


            @media (max-width: $brkpDesktop) {
                padding: 12px 18px;
            }

            &:hover {
                transform: translateY(-6px);
            }
        }
    }

    .tvCards__cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto auto;
        grid-auto-rows: 0;
        column-gap: 50px;
        overflow-y: hidden;

        @media (max-width: $brkpDesktop) {
            column-gap: 3vw;
        }

        @media (max-width: $brkpTablet) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: $brkpMobile) {
            grid-template-columns: repeat(3, 1fr);
        }

        .card {
            border-radius: 10px;
            border: 1px solid #C6C6C8;
            padding: 32px;
            margin-bottom: 50px;

            @media (max-width: $brkpDesktop) {
                margin-bottom: 32px;
                padding: 24px;
            }

            @media (max-width: $brkpDesktopMin) {
                padding: 21px;
            }

            @media (max-width: $brkpMobile) {
                padding: 14px;
                margin-bottom: 16px;
            }

            @media (max-width: $brkpMobileMin) {
                padding: 11px;
            }

            .card__img {
                width: auto;
                height: auto;

                @media (max-width: $brkpDesktop) {
                    width: 8vw;
                }

                @media (max-width: $brkpMobile) {
                    width: 13vw;
                }
            }
        }

        .red {
            background: var(--gradient-a-red, linear-gradient(180deg, #FF6961 0%, #D70015 100%));
        }

        .blue {
            background: var(--gradient-f-dark-blue, linear-gradient(180deg, #409CFF 0%, #0040DD 100%));
        }

        .yellow {
            background: var(--gradient-c-yellow, linear-gradient(180deg, #FFD426 0%, #B25000 100%));
        }

        .green {
            background: var(--gradient-d-green, linear-gradient(180deg, #30DB5B 0%, #248A3D 100%));
        }

        .slateblue {
            background: var(--gradient-g-violet, linear-gradient(180deg, #7D7AFF 0%, #3634A3 100%));
        }
    }

    .tvCards__button {
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 0;
    }
}